.Preview {
  border-bottom: 1px dashed #d2d0d2;
}

.Preview__title {
  background-color: #e3e6e9;
  border: 1px dashed #d2d0d2;
  border-top-width: 0;
  color: #4a4a4a;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 5px 10px;
}

.Preview__children {
  padding: 40px;
}
